users-state {
	td {
		border: 1px solid black;
		margin: 5px;

	}
	.input[type=text] {
	    width: 130px;
	    -webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out;
	}

	/* When the input field gets focus, change its width to 100% */
	input[type=text]:focus {
	    width: 100%;
	}
}