registration {
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }


    #submitter {
        background-color: #4CAF50;
        color: white;
        padding: 5px 5px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 15%;
        border-radius: 50%;
    }

    #form_container {
        padding: 16px;
        border: 1px solid gray;
        background-color: lightGray;
    }

    .error-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .control-group {
        margin-bottom: 30px;
    }

}