<div class="row mainTemplate">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-sm-8 addForm">
				<h1 class="text-center">Add Training In Calendar</h1>
				<form class="pull-left" name="trainingProgramForm">
					<ul class="chooseTrainigDay">
						<h4>Pick a Day:</h4>
						<li>
							<label for="One">Monday</label>
							<input type="radio" name="clickedDay1" ng-model="currentSelection.selectedDay" id="One" value="one">
						</li>
						<li>
							<label for="Two">Tuesday</label>
							<input type="radio" name="clickedDay2" ng-model="currentSelection.selectedDay" id="Two" value="two">
						</li>
						<li>
							<label for="Three">Wednesday</label>
							<input type="radio" name="clickedDay3" ng-model="currentSelection.selectedDay" id="Three" value="three">
						</li>
						<li>
							<label for="Four">Thursday</label>
							<input type="radio" name="clickedDay4" ng-model="currentSelection.selectedDay" id="Four" value="four">
						</li>
						<li>
							<label for="Five">Friday</label>
							<input type="radio" name="clickedDay5" ng-model="currentSelection.selectedDay" id="Five" value="five">
						</li>
						<li>
							<label for="Six">Saturday</label>
							<input type="radio" name="clickedDay6" ng-model="currentSelection.selectedDay" id="Six" value="six">
						</li>
						<li>
							<label for="Seven">Sunday</label>
							<input type="radio" name="clickedDay7" ng-model="currentSelection.selectedDay" id="Seven" value="seven">
						</li>
					</ul>
					<div class="errorMes" ng-show="isValidDay">Please select day of the week!</div>
					<ul class="chooseTrainig">
						<h4>Pick Training:</h4>
						<li>
							<label for="first">Fitness</label><!-- Fitness-1 -->
							<input type="radio" name="clickedtraining1" ng-model="currentSelection.selectedTrainig" id="first" value="Fitness">
						</li>
						<li>
							<label for="second">Running</label><!-- Running-2 -->
							<input type="radio" name="clickedtraining2" ng-model="currentSelection.selectedTrainig" id="second" value="Running">
						</li>
						<li>
							<label for="third">Swimming</label><!-- Swimming-3-->
							<input type="radio" name="clickedtraining3" ng-model="currentSelection.selectedTrainig" id="third" value="Swimming">
						</li>
					</ul>
					<div class="errorMes" ng-show="isValidDisc">Please select one of the disciplines!</div>
					<div class="text-center btn-addTraining">
						<button class="btn btn-primary" ng-click="addDisciplineInProgram(currentSelection)">Add Workout</button>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h1 class="text-center">Delete Workout From Calendar</h1>
				<form class="dellForm" name="deleteAllWorkoutsForDay">
					<h4>Pick a Day:</h4>
					<button type="button" class="row btn btn-info buttonCollapse" data-toggle="collapse" data-target="#demo">Select Day From Calendar</button>
					<div id="demo" class="collapse">
						<div class="errorMes" ng-show="delDayIsValid">Please select day of the week!</div>
						<ul class="deleteTrainig">
							<li>
								<label for="elementOne">Monday</label>
								<input type="radio" name="deleteDay1" ng-model="Select.dayDel" id="elementOne" value="one">
							</li>
							<li>
								<label for="elementTwo">Tuesday</label>
								<input type="radio" name="deleteDay2" ng-model="Select.dayDel" id="elementTwo" value="two">
							</li>
							<li>
								<label for="elementThree">Wednesday</label>
								<input type="radio" name="deleteDay3" ng-model="Select.dayDel" id="elementThree" value="three">
							</li>
							<li>
								<label for="elementFour">Thursday</label>
								<input type="radio" name="deleteDay4" ng-model="Select.dayDel" id="elementFour" value="four">
							</li>
							<li>
								<label for="elementFive">Friday</label>
								<input type="radio" name="deleteDay5" ng-model="Select.dayDel" id="elementFive" value="five">
							</li>
							<li>
								<label for="elementSix">Saturday</label>
								<input type="radio" name="deleteDay6" ng-model="Select.dayDel" id="elementSix" value="six">
							</li>
							<li>
								<label for="elementSeven">Sunday</label>
								<input type="radio" name="deleteDay7" ng-model="Select.dayDel" id="elementSeven" value="seven">
							</li>
						</ul>
					</div>
					<br>
					<div class="row">
						<button class="btn btn-primary" ng-click="deleteWorkoutInCalendar(Select)">Delete Workout</button>
					</div>
				</form>
			</div>
		</div>	

		<div class="row table-row">
			<div class="col-xs-12">
				<table class="table">
				    <thead>
				    	<tr>
				    		<th class="text-center">Monday</th>
				    		<th class="text-center">Tuesday</th>
				    		<th class="text-center">Wednesday</th>
				    		<th class="text-center">Thursday</th>
				    		<th class="text-center">Friday</th>
				    		<th class="text-center">Saturday</th>
				    		<th class="text-center">Sunday</th>
				    	</tr>
				    </thead>
					<tbody>
						<tr>
				      		<td ng-repeat="dayOfWeek in days" class="text-center">
				      			<div ng-repeat="disc in dayOfWeek">
				      				{{disc}}
				      			</div>
				      		</td>
				      	</tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--
 track by $index

		<div class="row daysButtons">
			<div class="col-xs-12 btn-group btn-group-justified">
			    <a ng-click="showDayProgram('one')" class="btn btn-primary">Mon</a>
			    <a ng-click="showDayProgram('two')" class="btn btn-primary">Tue</a>
			    <a ng-click="showDayProgram('three')" class="btn btn-primary">Wed</a>
			    <a ng-click="showDayProgram('four')" class="btn btn-primary">Thu</a>
			    <a ng-click="showDayProgram('five')" class="btn btn-primary">Fri</a>
			    <a ng-click="showDayProgram('six')" class="btn btn-primary">Sat</a>
			    <a ng-click="showDayProgram('seven')" class="btn btn-primary">Sun</a>
			</div>
		</div>

<td class="text-center" ng-repeat="disc in allDisciplineOfMon">{{disc}}</td>
<td class="text-center" ng-repeat="disc in allDisciplineOfTue">{{disc}}</td>
<td class="text-center" ng-repeat="disc in allDisciplineOfWed">{{disc}}</td>
<td class="text-center" ng-repeat="disc in allDisciplineOfThu">{{disc}}</td>
<td class="text-center" ng-repeat="disc in allDisciplineOfFri">{{disc}}</td>
<td class="text-center" ng-repeat="disc in allDisciplineOfSat">{{disc}}</td>
<td class="text-center" ng-repeat="disc in allDisciplineOfSun">{{disc}}</td>



<tr ng-repeat="disc in allDisciplineOfDay">
				        <td>{{disc}}</td>
				      </tr>

-->
<!--
				      	<tr>
				      		<td class="text-center">
				      			<div ng-repeat="day in days.one">
				      				{{day}}
				      			</div>
				      		</td>
				      		<td class="text-center">
				      			<div ng-repeat="day in days.two">
				      				{{day}}
				      			</div>
				      		</td>
				      		<td class="text-center">
				      			<div ng-repeat="day in days.three">
				      				{{day}}
				      			</div>
				      		</td>
				      		<td class="text-center">
				      			<div ng-repeat="day in days.four">
				      				{{day}}
				      			</div>
				      		</td>
				      		<td class="text-center">
				      			<div ng-repeat="day in days.five">
				      				{{day}}
				      			</div>
				      		</td>
				      	</tr>  -->