.mainTemplate {
	// Here stylize radio buttons for selecting day.
	.chooseTrainigDay {
		padding-left: 0;
		li {
			color: #31B0D5;
			border: 2px solid #31B0D5;
			list-style: none;
			border-radius: 5px;
			padding: 5px;
			margin: 5px;
			display: inline;
		}
	}
	// Here stylize radio buttons for selecting disciplines.
	.chooseTrainig {
		padding-left: 0;
		li {
			color: #31B0D5;
			border: 2px solid #31B0D5;
			list-style: none;
			border-radius: 5px;
			padding: 5px;
			margin: 5px;
			display: inline;
		}
	}
	// Here stylize radio buttons for selecting day for delete disciplines.
	.deleteTrainig {
		display: block;
		font-size: 20px;
		padding: 5px;
		margin: 5px;
		li {
			color: #31B0D5;
			padding: 2px;
			margin: 5px;
			list-style: none;
			text-align: center;
		}
	}
	// Stylize form for add disciplines.
	.addForm {
		border-right: 2px solid #31B0D5;
	}
	// Stylize form for remove disciplines.
	.dellForm {
		margin-left: 5px;
		h4 {
			margin-top: 13%;
		}
		.buttonCollapse {
			margin-bottom: 1%;
		}
	}
	// Stylize error message.
	.errorMes {
		color: red;
		font-weight: bold;
	}

	h1 {
		font-family: Papyrus, fantasy;
	}
	// Stylize table with training information.
	table {
		width: 100%;
		margin: 3%;
		thead {
			border-bottom: 2px solid #31B0D5;
		}
		th {
			font-family: Papyrus, fantasy;
			font-size: 2em;
		}

		td {
			text-align: center;
		}

		tbody td {
			border-bottom: 2px solid #31B0D5;
		}

		div {
			font-family: Papyrus, fantasy;
			font-size: 2em;
			font-weight: bold;
			margin: 1%;
		}
	}
	// Here stylize when screen width it is less than 1200 pixels.
	@media only screen and (max-width: 1200px) {
		// Here stylize radio buttons for selecting day.
		.chooseTrainigDay {
			padding-left: 0;
			li {
				border: 2px solid #31B0D5;
				list-style: none;
				border-radius: 5px;
				padding: 5px;
				margin: 5px;
				display: block;
			}
		}
		// Here stylize radio buttons for selecting disciplines.
		.chooseTrainig {
			padding-left: 0;
			li {
				border: 2px solid #31B0D5;
				list-style: none;
				border-radius: 5px;
				padding: 5px;
				margin: 5px;
				display: block;
			}
		}
		// Stylize form for add disciplines.
		.addForm {
			border: none;
		}	
		// Stylize error message.
		.errorMes {
			display: inline;
		}
		.addForm {
			button {
				width: 100%;
				padding: 8%;
			}
		}
		.dellForm {
			button {
				width: 60%;
				padding: 3%;
			}	
		}
		.deleteAllTrain {
			button {
				width: 50%;
				padding: 4%;
			}
		}
		
	}

	// Stylize table with training information.
	@media only screen and (max-width: 1200px) {

		//Force table to not be like tables anymore.
		table, thead, tbody, th, td, tr { 
			display: block;
			font-family: Papyrus, fantasy;
			font-size: 1em; 
		}
		
		//Hide table headers (but not display: none;, for accessibility)
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		td { 
			border: 1px solid #31B0D5;
			border-radius: 5px;
			position: relative; 
			left: 0;
			margin: 1%;
			padding: 2%;
			text-align: center;
		}

		table {
			div {
				display: inline;
				font-family: Papyrus, fantasy;
				font-size: 1em;
				margin: 1%;
				background-color: white;
			}
		}
		
		td:nth-of-type(1):before { content: "Monday: "; padding-left: 0; color: #31B0D5; display: block; text-align: center; }
		td:nth-of-type(2):before { content: "Tuesday: "; left: 0; color: #31B0D5; display: block; text-align: center; }
		td:nth-of-type(3):before { content: "Wednesday: "; left: 0; color: #31B0D5; display: block; text-align: center; }
		td:nth-of-type(4):before { content: "Thursday: "; left: 0; color: #31B0D5; display: block; text-align: center; }
		td:nth-of-type(5):before { content: "Friday: "; left: 0; color: #31B0D5; display: block; text-align: center; }
		td:nth-of-type(6):before { content: "Saturday: "; left: 0; color: #31B0D5; display: block; text-align: center; }
		td:nth-of-type(7):before { content: "Sunday: "; left: 0; color: #31B0D5; display: block; text-align: center; }
	}
}



