music {

   .input-info{
   	margin: 10px;
   	border: 2px solid green;

   }
    .btn-lg {
     width: 100%;
     padding: 20px 50px 20px 20px;
     margin: 20px 50px 20px 20px;
     flaot: keft;
     position: relative;
    }
    .play-ctrl{
    width: 100%;
    margin: 20px;
    
    }
}