music {
  $button-active: #FF735C;
 	li {
    list-style: none;
  }
  #info-grp{
    
  }
   .input-info{
   width:100%;
   }

   .input-info > input {
   width:100%;
   }
   #player {
    width: 350px;
    height: 50px;    
    position: relative;
    top: 15px;
    margin: 0 auto; 
}

#volume {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height:15px;
    width: 300px;
    background: url('../states/music/volume-empty.png') no-repeat left top;
  border: none;
  outline: none;
}

#volume .ui-slider-range-min {
    height:15px;
    width: 300px;
    position: absolute;
    background: url('../states/music/volume-full.png') no-repeat left top;
  border: none;
  outline: none;
}

#volume .ui-slider-handle {
    width: 38px;
    height:39px;
    background: url('../states/music/volume-knob.png') no-repeat left top;
    position: absolute;
    margin-left: -15px;
    cursor: pointer;
    outline: none;
    border: none;
}
   .active {
  background: $button-active;
  }
    .btn-lg {
     width: 100%;
     padding: 20px 50px 20px 20px;
     margin: 20px 50px 20px 20px;
     flaot: keft;
     position: relative;
    }
    .play-ctrl{
    width: 100%;
    margin: 20px;

    }

    #player > img{
  	padding: 10px;
  	margin: 5px;
    }
    .view{
    min-height: 50%;
    }
    .btn-secondary:hover,
    .btn-secondary:focus{
    border-color: black;
    }
}