<div>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>	
			<th>Description</th>
			<th>Edit</th>
		</tr>
	  <tr ng-repeat="x in table" >
	  	<td>{{ $index + 1}}</td>
	    <td ng-if="!x.editMode">{{ x.name }}</td>
	    <td ng-if="!x.editMode">{{ x.description }}</td>
	    <td ng-if="!x.editMode">
	    	<input type="button" value="Edit"  ng-click="editExercises(x)" >
			<input type="button" value="Delete" ng-click="removeExercise(x)">
	    </td>

	    <td ng-if="x.editMode"><input type="text" ng-model="x.name" /></td>
        <td ng-if="x.editMode"><input type="text" ng-model="x.description" /></td>
        <td ng-if="x.editMode">
            <button ng-click="saveChanges(x)" >Save</button>
            <button ng-click="cancel(x)">Cancel</button>
        </td>
    </tr>
	</table>
        
  
<form ng-submit="addRow()">
	<label>Name: </label>
	<input type="text" name="name" ng-model="name">
	<label>Description: </label>
	<textarea name="description" ng-model="description"></textarea>
	<input type="submit" value="Submit">
	
</form>

</div>