<!--Login Page -->
  <div class="imgcontainer">
    <img src="states/login/assets/loginPic.png" alt="Avatar" class="avatar">
  </div>

<!--Wrong Message -->
  <div class="container">
    <div id="wrong" class="alert alert-danger">
       <strong>Wrong Username or Password!
    </div>
 <!--Correct Message -->   
    <div id="success" class="alert alert-success">
      <strong>Success! You will be redirected in a second! 
    </div>

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" ng-model='username' required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" ng-model='password' required>

    <button type="submit" ng-click='service.login(username,password)'>Login</button>

    <a ui-sref="registration"> Register! </a>

    {{conf.user}}
  </div>