<!--Login Page -->
  <div class="imgcontainer">
    <img src="states/login/assets/loginPic.png" alt="Avatar" class="avatar">
  </div>



    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" ng-model='username' required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" ng-model='password' required>

    <button id="loginButton" type="submit" ng-click='service.login(username,password)'>Login</button>

    <button id="registerButton" ui-sref="registration"> Register! </button>

    {{conf.user}}
  </div>